html {
	height: 100%;
	margin: 0;
}

form {
  width: 400px;
  border: 1px solid black;
  display: flex;
}

input {
  flex: 2;
}

input, label {
  margin: 5px;
}

.rcorners4 {
  border-radius: 15px;
  background: #ADD8E6;
  padding: 20px; 
  width: 180px;
  height: 10px; 
} 

.solid {border-style: solid;}